<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>Email ID</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var item in Model)
                {

                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.CustomerName</td>
                    <td>@item.EmailAdress</td>
                    <td>@item.MobileNumber</td>
                </tr>
            }
        }

    </tbody>
</table>